.addAddress{
    border:2px solid green;
    border-radius: 10px;
    margin:20px;
    margin:5px;
    width:auto;
    float:left;
    justify-content: center;
  }




  input.ng-touched.ng-invalid{
    border: 3px solid red;
}