<div class='appointment'>

    <h3 style="text-align:center">Take Appointment</h3>

    <form #appointmentForm='ngForm' (submit)='createNew(appointmentForm.value)'>
        <div class='form-group'>
            <label for='customer'>User Name</label>
            <select id="customer" class="form-control" name="customer" ngModel #customer='ngModel' required>
                <option [ngValue]="customer" *ngFor="let customer of customers">
                  {{customer.userName}}
                </option>
              </select>
        </div>

        <div class='form-group'>
            <label for='preferredService'>Service</label>
            <select id="preferredService" class="form-control" name="preferredService" ngModel #preferredService='ngModel' required>
                <option [ngValue]="salonservice" *ngFor="let salonservice of salonservices">
                  {{salonservice.serviceName}}
                </option>
              </select>
        </div>
        <div *ngIf='preferredService.touched && preferredService.invalid'>
            <div *ngIf='preferredService.errors.required' class='alert alert-danger'>
                Please enter Service
            </div>

        </div>
        <div class='form-group'>
            <label for='preferredDate'>Preferred Date</label>
            <input id='preferredDate' class='form-control' type='date' ngModel #preferredDate='ngModel' required name='preferredDate'>
        </div>
        <div *ngIf='preferredDate.touched && preferredDate.invalid' class='alert alert-danger'>
            Please enter Date
        </div>
        <div class='form-group'>
            <label for='preferredTime'>Preferred Time</label>
            <input id='preferredTime' class='form-control' type='time' ngModel #preferredTime='ngModel' required name='preferredTime'>
        </div>
        <div *ngIf='preferredTime.touched && preferredTime.invalid' class='alert alert-danger'>
            Please enter Time
        </div>
        <div class='form-group'>
            <label for='location'>Location</label>
            <input id='location' class='form-control' type='text' ngModel #location='ngModel' required name='location'>
        </div>
        <div *ngIf='location.touched && location.invalid' class='alert alert-danger'>
            Please enter Location
        </div>
        <div class='form-group'>
            <label for='visitType'>Visit Type</label>
            <select id="visitType" class="form-control" ngModel #visitType='ngModel' required name="visitType">
                <option value="Home">Home</option>
                <option value="Salon">Salon</option>
            </select>
        </div>
        <div *ngIf='visitType.touched && visitType.invalid' class='alert alert-danger'>
            Please enter Visit Type
        </div>
        <button type='submit' class='btn btn-primary btn-block' [disabled]='appointmentForm.invalid'>Submit</button>
    </form>

    <p  class='alert alert-success' *ngIf='successMessage != null' (click)='successMessage=null'>
        {{successMessage}}
    </p>
   
    <div *ngIf='errorMessage != null' class='alert alert-danger' (click)='errorMessage=null'>
        {{errorMessage}}
    </div>

    <div *ngIf='validationMessages != null' (click)='validationMessages=null'>
        <p *ngFor='let msg of validationMessages' class='alert alert-danger'>
            {{msg}}
        </p>
    </div>
</div>