<div class='maindiv'>
    <div *ngIf='appointment != null'>
        <table class='table'>
            <tr>
                <td>Appointment Id</td>
                <td><input type='text' [(ngModel)]='appointment.appointmentId' readonly></td>
            </tr>
            <tr>
                <td>Service</td>
                <td><select id="service" class="form-control" [(ngModel)]='appointment.service' >
                    <option value="Hair">Hair</option>
                    <option value="Facial">Facial</option>
                    <option value="Hair Spa">Hair Spa</option>
                    <option value="Trimming">Trimming</option>
                    <option value="Groom Makeup">Groom Makeup</option>
                    <option value="Bride Makeup">Bride Makeup</option>
                </select></td>
            </tr>
            <tr>
                <td>Date</td>
                <td><input type='date' [(ngModel)]='appointment.preferredDate'></td>
            </tr>
            <tr>
                <td>Time</td>
                <td><input type='time' [(ngModel)]='appointment.preferredTime'></td>
            </tr>
            <tr>
                <td>Visit Type</td>
                <td><select [(ngModel)]='appointment.visitType'>
                    <option value="Home">Home</option>
                    <option value="Salon">Salon</option>
                </select></td>
            </tr>
            
        </table>
        <button (click)='updated()' class='btn btn-success btn-block'>Update</button>
        <button (click)='goBack()' class='btn btn-primary btn-block'>Back</button>

        <p class='alert alert-success' *ngIf='successMessage != null' (click)='successMessage=null'>
            {{successMessage}}
        </p>

    </div>

    <div *ngIf='errorMessage != null' class='alert alert-danger' (click)='errorMessage=null'>
        {{errorMessage}}
    </div>

    <div *ngIf='validationMessages != null' (click)='validationMessages=null'>
        <p *ngFor='let msg of validationMessages' class='alert alert-danger'>
            {{msg}}
        </p>
    </div>
</div>