<div class="head">
  <h3>{{title}}</h3>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="menu">
    <ul>
        <li class="active"><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="#">Appointment</a>
            <div class="submenu">
                <ul>
                    <li><a routerLink="appointments">Take Appointment</a></li>
                    <li><a routerLink="showAppointments"><i class="fa fa-angellist"></i>Show Appointments</a>
                    <li><a routerLink="appointmentByDate"><i class="fa fa-angellist"></i>Appointments By Date </a>
                    </li>
                    
                </ul>
            </div>
        </li>
        <li><a href="#"><i class="fa fa-users"></i>Customer</a>
          <div class="submenu">
              <ul>
                  <li><a routerLink="addCustomer"><i class="fa fa-clone"></i>Add Customer</a></li>
                  <li><a routerLink="showCustomers"><i class="fa fa-angellist"></i>Show Customers</a>
                  <li><a routerLink="addAddress"><i class="fa fa-angellist"></i>Add Address</a>
                  <li><a routerLink="showAddresses"><i class="fa fa-angellist"></i>Show Addresses</a>
                  </li>
                  
              </ul>
          </div>
      </li>
      <li><a href="#"><i class="fa fa-users"></i>Services</a>
        <div class="submenu">
            <ul>
                <li><a routerLink="addSalonService"><i class="fa fa-clone"></i>Add Service</a></li>
                <li><a routerLink="showServices"><i class="fa fa-angellist"></i>Show Services</a>
                </li>
                
            </ul>
        </div>
    </li>
    <li><a href="#"><i class="fa fa-users"></i>Orders</a>
      <div class="submenu">
          <ul>
              <li><a routerLink="addPayment"><i class="fa fa-clone"></i>Add Payment</a></li>
              <li><a routerLink="showPayments"><i class="fa fa-angellist"></i>Show Payments</a>
              <li><a routerLink="addCard"><i class="fa fa-angellist"></i>Add Card</a>
              <li><a routerLink="showCards"><i class="fa fa-angellist"></i>Show Cards</a>
              <li><a routerLink="addBilling"><i class="fa fa-angellist"></i>Add Bill</a>
              <li><a routerLink="showBills"><i class="fa fa-angellist"></i>Show Bills</a>
              </li>
              
          </ul>
      </div>
  </li>
        <li><a href="#"><i class="fa fa-phone"></i>About Us</a></li>
        <li><a href="#" routerLink="login"><i class="fa fa-users"></i>Log In</a></li>
        <li><a href="#" routerLink="logout">Logout</a></li>
    </ul>
  </div>
    <router-outlet></router-outlet>

