<div class="container">
  <h3>{{title}}</h3>
  <hr>

  <nav class="navbar navbar-expand-sm bg-dark">
   <!-- <div class="btn-group">
      <button type="button" routerLink="home" class="btn btn-primary">Home</button>
      <button type="button" routerLink="aboutus" class="btn btn-primary">About Us</button>
      <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Appointment
          </button>
          <div class="dropdown-menu">
              <a routerLink="appointments" class="dropdown-item">Take appointment</a>
              <a routerLink="showAppointments" class="dropdown-item">Show Appointments</a>
              
          </div>
      </div>
      <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">SignIn
          </button>
          
          <div class="dropdown-menu">
            <a routerLink="login" class="dropdown-item">Login</a>
            <a routerLink="logput" class="dropdown-item">Logout</a>
            
        </div>
      </div>
        <button type="button" routerLink="" class="btn btn-primary">Customer</button>
        <button type="button" routerLink="aboutus" class="btn btn-primary">My Orders</button>-->
      
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="home" class="btn btn-primary">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="login" class="btn btn-primary">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="appointments" class="btn btn-primary">Appointment</a>
      </li>
      <li class="nav-item">
        <a routerLink="showAppointments" class="btn btn-primary">Show Appointments</a>
      </li>
      <li class="nav-item">
        <a routerLink="addCustomer" class="btn btn-primary">Add Customer</a>
      </li>
      <li class="nav-item">
        <a routerLink="" class="btn btn-primary ">My Orders</a>
      </li>
      <li class="nav-item">
        <a routerLink="logout" class="btn btn-primary ">Logout</a>
      </li>
    </ul>

  </nav>
<router-outlet></router-outlet>
</div>
