<div class='maindiv' *ngIf='errorMessage == null'>
  <h3 style='text-align:center;'>{{header}}</h3>
  <table class='table'>
      <tr>
          <th>ServiceName</th>
          <th>discount</th>
          <th>duration</th>
          <th>price</th>
      </tr>
      <tr *ngFor='let salonservice of salonservices' style='padding:2px'>
          <td>{{salonservice.serviceName}}</td>
          <td>{{salonservice.discount}}</td>
          <td>{{salonservice.duration}}</td>
          <td>{{salonservice.price}}</td>
          <td>
              <button class='btn btn-danger' (click)='delete(salonservice.serviceId)'>Delete</button>
              <a [routerLink]="['/updateSalonService',salonservice.serviceId]" class='btn btn-primary'>Modify</a>
          </td>
      </tr>
  </table>

  <div *ngIf='message != null' (click)='message=null' class='alert alert-success'>
      {{message}}
  </div>
</div>
<div class='alert alert-danger' *ngIf='errorMessage != null'>
  <h2>{{errorMessage}}</h2>
</div>
