<div class='maindiv' *ngIf='errorMessage == null'>
  <h3 style='text-align:center;'>{{header}}</h3>
  <table class='table'>
      <tr>
          <th>Location</th>
          <th>Preferred Date</th>
          <th>Preferred Time</th>
          <th>Visit Type</th>
          <th>Operation</th>
      </tr>
      <tr *ngFor='let salonservice of salonservices' style='padding:2px'>
          <td>{{appointment.location}}</td>
          <td>{{appointment.preferredDate}}</td>
          <td>{{appointment.preferredTime}}</td>
          <td>{{appointment.visitType}}</td>
          <!--<td>{{appointment.salonService.serviceName}}</td>-->
          <td>
              <button class='btn btn-danger' (click)='delete(appointment.appointmentId)'>Delete</button>
              <a [routerLink]="['/update',appointment.appointmentId]" class='btn btn-primary'>Modify</a>
          </td>
      </tr>
  </table>

  <div *ngIf='message != null' (click)='message=null' class='alert alert-success'>
      {{message}}
  </div>
</div>
<div class='alert alert-danger' *ngIf='errorMessage != null'>
  <h2>{{errorMessage}}</h2>
</div>
