<div class='maindiv' *ngIf='errorMessage == null'>
    <h3 style='text-align:center;'>{{header}}</h3>
    <table class='table'>
        <tr>
            <th>Contact Number</th>
            <th>DOB</th>
            <th>Email</th>
            <th>Name</th>
            <th>Operation</th>
        </tr>
        <tr *ngFor='let customer of customers' style='padding:2px'>
            <td>{{customer.contactNo}}</td>
            <td>{{customer.dob}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.name}}</td>
            
            <td>
                <button class='btn btn-danger' (click)='delete(customer.userId)'>Delete</button>
                <a [routerLink]="['/updateCustomer',customer.userId]" class='btn btn-primary'>Modify</a>
            </td>
        </tr>
    </table>

    <div *ngIf='message != null' (click)='message=null' class='alert alert-success'>
        {{message}}
    </div>
</div>
<div class='alert alert-danger' *ngIf='errorMessage != null'>
    <h2>{{errorMessage}}</h2>
</div>